#__layout{
  height: 100vh;
  overflow: hidden;
}

.printable-area-label{
  position: absolute;
  bottom: -27px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: .9em;
}

.printable-area{
  outline-width: 0px;
  outline-style: dashed;

  &.-has-outline{
    outline-width: 1px;
  }
}

.canvas-object{
  &:hover{
    outline: 1px solid rgba(0, 0, 0, .1);
  }
}

.ruler {
  .horiz{
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
  }

  .vert{
    width: 1px;
    left: 50%;
    transform: translateX(-50%);
  }

  .horiz.-highlighted,
  .vert.-highlighted{
    background: blue;
  }
}

.or-divider{
  width: 1px;

  & > span{
    font-size: .65rem;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
  }

  &:before,
  &:after{
    content: '';
    display: block;
    position: absolute;
    height: 46%;
    background: #e2e8f0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
  }

  &:before{
    top: 0;
  }

  &:after{
    bottom: 0;
  }
}

.bottom-actions{
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.bottom-tips{
  right: 50px;
  bottom: 100px;

  .tips-list{
    list-style: outside;
    margin-left: 20px;
  }
}

.left-actions{
  left: 20px;
  top: 100px;
}

.svg-object > svg{
  width: 100%;
  height: 100%;
}

.cursor-help{
  cursor: help;
}

.parent:hover .parent\:hover\:visible{
  @apply .visible;
}

.vue-numeric-input .numeric-input.no-control{
  padding: 0px 5px !important;
}

.vue-numeric-input .numeric-input{
  height: 100%;
  outline: none !important;
  border-color: #e2e8f0 !important;
}

.vue-numeric-input .btn{
  background: transparent !important;
}
